body{
  background-color: rgb(32, 31, 31);
}
.div1{
  align-items: center;
  justify-content: center;
  display: flex;
}
.div{
          
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
 text-align: center;
  padding: 1rem;
  margin-top: 50px;



}
.social{
 
  width: 50px;
  font-size: 50px;
  margin-right: 200px;
}
.photo img{
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
button{
  height: 50px;
  width: 100px;
  background-color: yellow;
  font-weight: bolder;
  border-radius: 10px;
}
.b2{
  margin-left: 20px;
}